### This notebook will present two ways of reshaping the data from the [International Monetary Fund](https://www.imf.org/en/Publications/WEO/weo-database/2021/October) database.
#### <br>One is pandas.melt() + pandas.pivot()
#### <br>Another is pandas.stack().unstack()

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file = '/Users/canshuoguo/Downloads/Wide_data.xlsx'

In [3]:
# Examining the data only to find there is thousands separator, 
# to facilitate furthur operation, remove the separator when reading the data
data = pd.read_excel(file,thousands=',',header=1)
data

,Country,Subject Descriptor,2008,2009,2010,2011,2012,2013,2014,2015
0,China,"Gross domestic product, constant prices",39067.356,42757.498,47294.463,51811.498,55877.494,60219.522,64670.541,69209.370
1,China,Total investment,42.425,45.469,46.968,47.029,46.186,46.136,45.612,43.033
2,China,Unemployment rate,4.200,4.300,4.140,4.090,4.090,4.050,4.090,4.050
3,China,Population,1328.020,1334.500,1340.910,1349.160,1359.220,1367.260,1376.460,1383.260
4,Indonesia,"Gross domestic product, constant prices",6162847.000,6452609.800,6864133.100,7287635.300,7727083.400,8156497.800,8564866.600,8982517.100
5,Indonesia,Total investment,32.998,31.173,32.880,32.984,35.072,33.831,34.600,34.063
6,Indonesia,Unemployment rate,8.390,7.870,7.140,6.560,6.140,6.250,5.940,6.180
7,Indonesia,Population,231.006,234.300,237.641,241.991,245.425,248.818,252.165,255.588
8,Malaysia,"Gross domestic product, constant prices",858.696,845.697,909.361,957.498,1009.908,1057.310,1120.819,1176.940
9,Malaysia,Total investment,22.265,18.407,23.657,23.456,25.951,26.108,25.158,25.424
10,Malaysia,Unemployment rate,3.325,3.675,3.300,3.050,3.025,3.100,2.875,3.150
11,Malaysia,Population,27.600,28.082,28.589,29.062,29.510,30.214,30.709,31.186
12,Vietnam,"Gross domestic product, constant prices",2442627.690,2574477.593,2739843.172,2915553.938,3076041.911,3246870.226,3455392.133,3696825.710
13,Vietnam,Total investment,39.642,40.514,37.676,33.259,30.644,29.884,29.970,31.825
14,Vietnam,Unemployment rate,2.380,2.900,2.880,2.220,1.960,2.180,2.100,2.330
15,Vietnam,Population,86.243,87.092,87.968,87.860,88.809,89.760,90.729,91.713

In [4]:
# First examine the type to see if transformation to numeric type is needed.
data.dtypes
# it is good to know all numeric values are float, probably because the thousands parameter did the trick, 
# Thousands, indicated by its document works as 'Thousands separator for parsing string columns to numeric'.

Country                object
Subject Descriptor     object
2008                  float64
2009                  float64
2010                  float64
2011                  float64
2012                  float64
2013                  float64
2014                  float64
2015                  float64
dtype: object

In [5]:
# Then try melt() - pivot() method to see what will happen.
data_melted= data.melt(id_vars=data.columns[0:2],value_vars=data.columns[2:],var_name='year')
data_melted

       Country                       Subject Descriptor  year        value
0        China  Gross domestic product, constant prices  2008    39067.356
1        China                         Total investment  2008       42.425
2        China                        Unemployment rate  2008        4.200
3        China                               Population  2008     1328.020
4    Indonesia  Gross domestic product, constant prices  2008  6162847.000
..         ...                                      ...   ...          ...
123   Malaysia                               Population  2015       31.186
124    Vietnam  Gross domestic product, constant prices  2015  3696825.710
125    Vietnam                         Total investment  2015       31.825
126    Vietnam                        Unemployment rate  2015        2.330
127    Vietnam                               Population  2015       91.713

[128 rows x 4 columns]

In [6]:
data_melted.pivot(index=['Country','year'], columns='Subject Descriptor', values='value')
# it worked pretty well.

Subject Descriptor  Gross domestic product, constant prices  Population  \
Country   year
China     2008                                    39067.356    1328.020
          2009                                    42757.498    1334.500
          2010                                    47294.463    1340.910
          2011                                    51811.498    1349.160
          2012                                    55877.494    1359.220
          2013                                    60219.522    1367.260
          2014                                    64670.541    1376.460
          2015                                    69209.370    1383.260
Indonesia 2008                                  6162847.000     231.006
          2009                                  6452609.800     234.300
          2010                                  6864133.100     237.641
          2011                                  7287635.300     241.991
          2012                                  7727083.400     245.425
          2013                                  8156497.800     248.818
          2014                                  8564866.600     252.165
          2015                                  8982517.100     255.588
Malaysia  2008                                      858.696      27.600
          2009                                      845.697      28.082
          2010                                      909.361      28.589
          2011                                      957.498      29.062
          2012                                     1009.908      29.510
          2013                                     1057.310      30.214
          2014                                     1120.819      30.709
          2015                                     1176.940      31.186
Vietnam   2008                                  2442627.690      86.243
          2009                                  2574477.593      87.092
          2010                                  2739843.172      87.968
          2011                                  2915553.938      87.860
          2012                                  3076041.911      88.809
          2013                                  3246870.226      89.760
          2014                                  3455392.133      90.729
          2015                                  3696825.710      91.713

Subject Descriptor  Total investment  Unemployment rate
Country   year
China     2008                42.425              4.200
          2009                45.469              4.300
          2010                46.968              4.140
          2011                47.029              4.090
          2012                46.186              4.090
          2013                46.136              4.050
          2014                45.612              4.090
          2015                43.033              4.050
Indonesia 2008                32.998              8.390
          2009                31.173              7.870
          2010                32.880              7.140
          2011                32.984              6.560
          2012                35.072              6.140
          2013                33.831              6.250
          2014                34.600              5.940
          2015                34.063              6.180
Malaysia  2008                22.265              3.325
          2009                18.407              3.675
          2010                23.657              3.300
          2011                23.456              3.050
          2012                25.951              3.025
          2013                26.108              3.100
          2014                25.158              2.875
          2015                25.424              3.150
Vietnam   2008                39.642              2.380
          2009                40.514              2.900
          2010                37.676              2.880
          2011                33.259              2.220
          2012                30.644              1.960
          2013                29.884              2.180
          2014                29.970              2.100
          2015                31.825              2.330

## pandas.stack().unstack()

In [7]:
# I tried to see if one method can achieve the same task rather a combination.
data

,Country,Subject Descriptor,2008,2009,2010,2011,2012,2013,2014,2015
0,China,"Gross domestic product, constant prices",39067.356,42757.498,47294.463,51811.498,55877.494,60219.522,64670.541,69209.370
1,China,Total investment,42.425,45.469,46.968,47.029,46.186,46.136,45.612,43.033
2,China,Unemployment rate,4.200,4.300,4.140,4.090,4.090,4.050,4.090,4.050
3,China,Population,1328.020,1334.500,1340.910,1349.160,1359.220,1367.260,1376.460,1383.260
4,Indonesia,"Gross domestic product, constant prices",6162847.000,6452609.800,6864133.100,7287635.300,7727083.400,8156497.800,8564866.600,8982517.100
5,Indonesia,Total investment,32.998,31.173,32.880,32.984,35.072,33.831,34.600,34.063
6,Indonesia,Unemployment rate,8.390,7.870,7.140,6.560,6.140,6.250,5.940,6.180
7,Indonesia,Population,231.006,234.300,237.641,241.991,245.425,248.818,252.165,255.588
8,Malaysia,"Gross domestic product, constant prices",858.696,845.697,909.361,957.498,1009.908,1057.310,1120.819,1176.940
9,Malaysia,Total investment,22.265,18.407,23.657,23.456,25.951,26.108,25.158,25.424
10,Malaysia,Unemployment rate,3.325,3.675,3.300,3.050,3.025,3.100,2.875,3.150
11,Malaysia,Population,27.600,28.082,28.589,29.062,29.510,30.214,30.709,31.186
12,Vietnam,"Gross domestic product, constant prices",2442627.690,2574477.593,2739843.172,2915553.938,3076041.911,3246870.226,3455392.133,3696825.710
13,Vietnam,Total investment,39.642,40.514,37.676,33.259,30.644,29.884,29.970,31.825
14,Vietnam,Unemployment rate,2.380,2.900,2.880,2.220,1.960,2.180,2.100,2.330
15,Vietnam,Population,86.243,87.092,87.968,87.860,88.809,89.760,90.729,91.713

In [8]:
data.set_index(['Country','Subject Descriptor']).stack().unstack(level=1)

Subject Descriptor  Gross domestic product, constant prices  Population  \
Country
China     2008                                    39067.356    1328.020
          2009                                    42757.498    1334.500
          2010                                    47294.463    1340.910
          2011                                    51811.498    1349.160
          2012                                    55877.494    1359.220
          2013                                    60219.522    1367.260
          2014                                    64670.541    1376.460
          2015                                    69209.370    1383.260
Indonesia 2008                                  6162847.000     231.006
          2009                                  6452609.800     234.300
          2010                                  6864133.100     237.641
          2011                                  7287635.300     241.991
          2012                                  7727083.400     245.425
          2013                                  8156497.800     248.818
          2014                                  8564866.600     252.165
          2015                                  8982517.100     255.588
Malaysia  2008                                      858.696      27.600
          2009                                      845.697      28.082
          2010                                      909.361      28.589
          2011                                      957.498      29.062
          2012                                     1009.908      29.510
          2013                                     1057.310      30.214
          2014                                     1120.819      30.709
          2015                                     1176.940      31.186
Vietnam   2008                                  2442627.690      86.243
          2009                                  2574477.593      87.092
          2010                                  2739843.172      87.968
          2011                                  2915553.938      87.860
          2012                                  3076041.911      88.809
          2013                                  3246870.226      89.760
          2014                                  3455392.133      90.729
          2015                                  3696825.710      91.713

Subject Descriptor  Total investment  Unemployment rate
Country
China     2008                42.425              4.200
          2009                45.469              4.300
          2010                46.968              4.140
          2011                47.029              4.090
          2012                46.186              4.090
          2013                46.136              4.050
          2014                45.612              4.090
          2015                43.033              4.050
Indonesia 2008                32.998              8.390
          2009                31.173              7.870
          2010                32.880              7.140
          2011                32.984              6.560
          2012                35.072              6.140
          2013                33.831              6.250
          2014                34.600              5.940
          2015                34.063              6.180
Malaysia  2008                22.265              3.325
          2009                18.407              3.675
          2010                23.657              3.300
          2011                23.456              3.050
          2012                25.951              3.025
          2013                26.108              3.100
          2014                25.158              2.875
          2015                25.424              3.150
Vietnam   2008                39.642              2.380
          2009                40.514              2.900
          2010                37.676              2.880
          2011                33.259              2.220
          2012                30.644              1.960
          2013                29.884              2.180
          2014                29.970              2.100
          2015                31.825              2.330

In [9]:
# let's consider each step in turn.
# the task of stack() is to stack the prescribed level(s) from columns to index. 
# you can specify the prescribed level or the default level is -1.
# so let's see how many levels in the dataset
data.columns

Index(['Country', 'Subject Descriptor', 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015],
      dtype='object')

In [10]:
# let's see what is it if we use stack() directly to the dataset
# if the columns have a single level, the output is a Series.
data.stack(),"*"*40, type(data.stack()),"*"*40,data.stack().index

(0   Country                                                 China
     Subject Descriptor    Gross domestic product, constant prices
     2008                                                  39067.4
     2009                                                  42757.5
     2010                                                  47294.5
                                            ...
 15  2011                                                    87.86
     2012                                                   88.809
     2013                                                    89.76
     2014                                                   90.729
     2015                                                   91.713
 Length: 160, dtype: object,
 '****************************************',
 pandas.core.series.Series,
 '****************************************',
 MultiIndex([( 0,            'Country'),
             ( 0, 'Subject Descriptor'),
             ( 0,                 2008),
             ( 0,                 2009),
             ( 0,                 2010),
             ( 0,                 2011),
             ( 0,                 2012),
             ( 0,                 2013),
             ( 0,                 2014),
             ( 0,                 2015),
             ...
             (15,            'Country'),
             (15, 'Subject Descriptor'),
             (15,                 2008),
             (15,                 2009),
             (15,                 2010),
             (15,                 2011),
             (15,                 2012),
             (15,                 2013),
             (15,                 2014),
             (15,                 2015)],
            length=160))

In [11]:
# the output is a series with multiIndex, because each column will be turned into a new index,
# and the original index becomes level 0 index while those columns become level 1 index
# if you like, you can select part of this series by its level 0 index
data.stack()[4]

Country                                             Indonesia
Subject Descriptor    Gross domestic product, constant prices
2008                                              6.16285e+06
2009                                              6.45261e+06
2010                                              6.86413e+06
2011                                              7.28764e+06
2012                                              7.72708e+06
2013                                               8.1565e+06
2014                                              8.56487e+06
2015                                              8.98252e+06
dtype: object

In [12]:
# so we need to set the index first to reshape the target columns to index
data.set_index(['Country','Subject Descriptor'])

                                                          2008         2009  \
Country   Subject Descriptor
China     Gross domestic product, constant prices    39067.356    42757.498
          Total investment                              42.425       45.469
          Unemployment rate                              4.200        4.300
          Population                                  1328.020     1334.500
Indonesia Gross domestic product, constant prices  6162847.000  6452609.800
          Total investment                              32.998       31.173
          Unemployment rate                              8.390        7.870
          Population                                   231.006      234.300
Malaysia  Gross domestic product, constant prices      858.696      845.697
          Total investment                              22.265       18.407
          Unemployment rate                              3.325        3.675
          Population                                    27.600       28.082
Vietnam   Gross domestic product, constant prices  2442627.690  2574477.593
          Total investment                              39.642       40.514
          Unemployment rate                              2.380        2.900
          Population                                    86.243       87.092

                                                          2010         2011  \
Country   Subject Descriptor
China     Gross domestic product, constant prices    47294.463    51811.498
          Total investment                              46.968       47.029
          Unemployment rate                              4.140        4.090
          Population                                  1340.910     1349.160
Indonesia Gross domestic product, constant prices  6864133.100  7287635.300
          Total investment                              32.880       32.984
          Unemployment rate                              7.140        6.560
          Population                                   237.641      241.991
Malaysia  Gross domestic product, constant prices      909.361      957.498
          Total investment                              23.657       23.456
          Unemployment rate                              3.300        3.050
          Population                                    28.589       29.062
Vietnam   Gross domestic product, constant prices  2739843.172  2915553.938
          Total investment                              37.676       33.259
          Unemployment rate                              2.880        2.220
          Population                                    87.968       87.860

                                                          2012         2013  \
Country   Subject Descriptor
China     Gross domestic product, constant prices    55877.494    60219.522
          Total investment                              46.186       46.136
          Unemployment rate                              4.090        4.050
          Population                                  1359.220     1367.260
Indonesia Gross domestic product, constant prices  7727083.400  8156497.800
          Total investment                              35.072       33.831
          Unemployment rate                              6.140        6.250
          Population                                   245.425      248.818
Malaysia  Gross domestic product, constant prices     1009.908     1057.310
          Total investment                              25.951       26.108
          Unemployment rate                              3.025        3.100
          Population                                    29.510       30.214
Vietnam   Gross domestic product, constant prices  3076041.911  3246870.226
          Total investment                              30.644       29.884
          Unemployment rate                              1.960        2.180
          Population                                    88.809       89.760

                                                          2014         2015
Country   Subject Descriptor
China     Gross domestic product, constant prices    64670.541    69209.370
          Total investment                              45.612       43.033
          Unemployment rate                              4.090        4.050
          Population                                  1376.460     1383.260
Indonesia Gross domestic product, constant prices  8564866.600  8982517.100
          Total investment                              34.600       34.063
          Unemployment rate                              5.940        6.180
          Population                                   252.165      255.588
Malaysia  Gross domestic product, constant prices     1120.819     1176.940
          Total investment                              25.158       25.424
          Unemployment rate                              2.875        3.150
          Population                                    30.709       31.186
Vietnam   Gross domestic product, constant prices  3455392.133  3696825.710
          Total investment                              29.970       31.825
          Unemployment rate                              2.100        2.330
          Population                                    90.729       91.713

In [13]:
# as we know, stack() will reshape the columns and now as we make the unintented columns index,
# they will stay at where they are.
data.set_index(['Country','Subject Descriptor']).stack()

Country  Subject Descriptor
China    Gross domestic product, constant prices  2008    39067.356
                                                  2009    42757.498
                                                  2010    47294.463
                                                  2011    51811.498
                                                  2012    55877.494
                                                            ...
Vietnam  Population                               2011       87.860
                                                  2012       88.809
                                                  2013       89.760
                                                  2014       90.729
                                                  2015       91.713
Length: 128, dtype: float64

In [14]:
# trivious it may look, I'm gonna check the index, even though I know it is three-level index
data.set_index(['Country','Subject Descriptor']).stack().index

MultiIndex([(  'China', 'Gross domestic product, constant prices', 2008),
            (  'China', 'Gross domestic product, constant prices', 2009),
            (  'China', 'Gross domestic product, constant prices', 2010),
            (  'China', 'Gross domestic product, constant prices', 2011),
            (  'China', 'Gross domestic product, constant prices', 2012),
            (  'China', 'Gross domestic product, constant prices', 2013),
            (  'China', 'Gross domestic product, constant prices', 2014),
            (  'China', 'Gross domestic product, constant prices', 2015),
            (  'China',                        'Total investment', 2008),
            (  'China',                        'Total investment', 2009),
            ...
            ('Vietnam',                       'Unemployment rate', 2014),
            ('Vietnam',                       'Unemployment rate', 2015),
            ('Vietnam',                              'Population', 2008),
            ('Vietnam',                              'Population', 2009),
            ('Vietnam',                              'Population', 2010),
            ('Vietnam',                              'Population', 2011),
            ('Vietnam',                              'Population', 2012),
            ('Vietnam',                              'Population', 2013),
            ('Vietnam',                              'Population', 2014),
            ('Vietnam',                              'Population', 2015)],
           names=['Country', 'Subject Descriptor', None], length=128)

In [15]:
# so the last step is to reshape the second-level index, which is level 1 index, to column.
# unstack() can do the work as it is to pivot a level of the index labels.
data.set_index(['Country','Subject Descriptor']).stack().unstack(level=1)

Subject Descriptor  Gross domestic product, constant prices  Population  \
Country
China     2008                                    39067.356    1328.020
          2009                                    42757.498    1334.500
          2010                                    47294.463    1340.910
          2011                                    51811.498    1349.160
          2012                                    55877.494    1359.220
          2013                                    60219.522    1367.260
          2014                                    64670.541    1376.460
          2015                                    69209.370    1383.260
Indonesia 2008                                  6162847.000     231.006
          2009                                  6452609.800     234.300
          2010                                  6864133.100     237.641
          2011                                  7287635.300     241.991
          2012                                  7727083.400     245.425
          2013                                  8156497.800     248.818
          2014                                  8564866.600     252.165
          2015                                  8982517.100     255.588
Malaysia  2008                                      858.696      27.600
          2009                                      845.697      28.082
          2010                                      909.361      28.589
          2011                                      957.498      29.062
          2012                                     1009.908      29.510
          2013                                     1057.310      30.214
          2014                                     1120.819      30.709
          2015                                     1176.940      31.186
Vietnam   2008                                  2442627.690      86.243
          2009                                  2574477.593      87.092
          2010                                  2739843.172      87.968
          2011                                  2915553.938      87.860
          2012                                  3076041.911      88.809
          2013                                  3246870.226      89.760
          2014                                  3455392.133      90.729
          2015                                  3696825.710      91.713

Subject Descriptor  Total investment  Unemployment rate
Country
China     2008                42.425              4.200
          2009                45.469              4.300
          2010                46.968              4.140
          2011                47.029              4.090
          2012                46.186              4.090
          2013                46.136              4.050
          2014                45.612              4.090
          2015                43.033              4.050
Indonesia 2008                32.998              8.390
          2009                31.173              7.870
          2010                32.880              7.140
          2011                32.984              6.560
          2012                35.072              6.140
          2013                33.831              6.250
          2014                34.600              5.940
          2015                34.063              6.180
Malaysia  2008                22.265              3.325
          2009                18.407              3.675
          2010                23.657              3.300
          2011                23.456              3.050
          2012                25.951              3.025
          2013                26.108              3.100
          2014                25.158              2.875
          2015                25.424              3.150
Vietnam   2008                39.642              2.380
          2009                40.514              2.900
          2010                37.676              2.880
          2011                33.259              2.220
          2012                30.644              1.960
          2013                29.884              2.180
          2014                29.970              2.100
          2015                31.825              2.330